.status {
  margin-bottom: 10px;
}

ol,
ul {
  padding-left: 30px;
}

.bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('../../img/bg2.jpg') no-repeat;
  background-size: cover;
}

.game {
  display: flex;
  justify-content: center;
  height: 100%;
}

.game-board {
  margin-top: 20vh;
}

.game-info {
  margin-left: 60px;
  margin-top: 20vh;
}

.game-mark {
  display: flex;
  margin-left: auto;
  margin-right: 0px;
}

.box1 {
  font-size: 20px;
  font-family: Microsoft Yahei;
  color: #20a162;
}

.box2 {
  font-size: 20px;
  font-family: Microsoft Yahei;
  color: #2f90b9;
}


.pre-frame {
  margin: 0 auto;
}

.pre-box {
  width: 200px;
  height: 60px;
  margin-left: 60px;
  background-color: lawngreen;
}

.out {
  width: 64px;
  height: 64px;
  margin-right: 0px;
  margin-left: auto;
  background: url(../../img/right.png) no-repeat;
  background-size: contain;
}

.button-frame {
  display: flex;
  height: 135px;
}

.re {
  margin-left: 0px;
  margin-top: auto;
  margin-bottom: 0px;
}

.run {
  margin-left: auto;
  margin-right: 0px;
  margin-top: auto;
  margin-bottom: 0px;
}

.xq {
  margin-top: 30px;
  margin-left: 0px;
}

.rule {
  width: 1200px;
  height: 650px;
  background: url(../../img/rule.png) no-repeat;
  background-size: contain;
}

.p-game-info {
  display: none;
}

.p-button {
  display: none;
}

.end-div {
  font-size: 18px;
  margin-bottom: 15px;
}

.start-an {
  animation:myfirst 5s alternate forwards;
  animation-iteration-count: 1;
}

@keyframes myfirst {
  from {
  }

  to {
    background: #fff;
  }
}

//手机端样式适配
@media screen and (max-width: 600px) {
  .game {
    display: flex;
    justify-content: center;
    height: auto;
  }

  .game-info {
    display: none;
  }

  .game-board {
    margin-top: 2vh;
  }

  .p-game-info {
    display: flex;
    width: 100%;
    height: 120px;
  }

  .p-line {
    display: flex;
  }

  .p-re {
    font-size: 22px;
    font-family: Microsoft Yahei;
    color: #20a162;
    text-align: left;
    margin-left: 10px;
  }

  .p-score {
    font-size: 22px;
    font-family: Microsoft Yahei;
    color: #2f90b9;
    text-align: left;
    margin-left: 10px;
  }

  .p-pre {
    width: 200px;
    margin-left: auto;
    margin-right: 5px;
  }

  .p-frame {
    width: 100%;
  }

  .out {
    width: 50px;
    height: 50px;
    margin-right: 0px;
    margin-left: auto;
    background: url(../../img/right.png) no-repeat;
    background-size: contain;
  }

  .p-button {
    width: 100%;
    display: flex;
  }

  .p-rule-1 {
    width: 250px;
    height: 600px;
    background: url(../../img/pRule1.png) no-repeat;
    background-size: contain;
  }

  .p-rule-2 {
    width: 250px;
    height: 685px;
    background: url(../../img/pRule2.png) no-repeat;
    background-size: contain;
  }

}