.status {
  margin-bottom: 10px;
}

ol,
ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
  margin-left: 120px;
  padding-top: 120px;
}

.game-info {
  margin-left: 20px;
}

.pre-box {
  width: 200px;
  height: 60px;
  margin-left: 60px;
  background-color: lawngreen;
}